<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="header">
    <div class="logo">JU Perifericos</div>
    <nav class="nav">
      <ul class="lista">
        <li class="item"><a href="/">Inicio</a></li>
        <li class="item"><a href="/products">Productos</a></li>
        <li class="item"><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
    <div class="barra">
      <form action="/products" method="get" class="buscar">
        <input type="text" name="query" placeholder="Buscar...">
      </form>
      <a href="/carts/{{cartId}}" class="carrito">🛒</a>
    </div>
  </header>

  {{{body}}}

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socketClient.js"></script>
</body>
</html>
